*.o
*.a
*.pyc
*.cuu
*.ccc
.DS_Store
.build/
.cache/
.direnv/
.envrc
.swiftpm
.venv
.vs/
.vscode/

assets/
models/
*.bin
!llama_vocab.bin
!starcoder_vocab.bin
*.zip
*.txt
!requirements.txt
*.pt
*.json
test_*
!test_*.cc
!test_*.cu
demo
chat
voicechat
profile_*
!profile_*.cc
libtorch/
checkpoints/

output.wav
tmpfile
TTS/