*.o
*.a
*.pyc
*.cuu
.DS_Store
.build/
.cache/
.direnv/
.envrc
.swiftpm
.venv
.vs/
.vscode/

assets/
*.bin
*.zip
*.txt
*.json
test_*
!test_*.cc
!test_*.cu
demo
profile_*
!profile_*.cc
libtorch/

transformer/chat
transformer/voicechat
transformer/output.wav
transformer/tmpfile
transformer/TTS