*.o
!main_int8.o
!main.o
!matmul_avx_int8.o
!matmul_imp.o
!matmul_int8.o
!matmul_int4.o
!matmul_onednn.o
!utils.o
*.a
.DS_Store
.build/
.cache/
.direnv/
.envrc
.swiftpm
.venv
.vs/
.vscode/

assets/
*.bin
!ggml-vocab.bin
*.zip
*.txt
*.json
test_*
!test_*.cc
demo
profile_*
!profile_*.cc
libtorch/
